{% extends 'dashboard_base.html' %}

{% block page_name %}
Employees
{% endblock %}

{% block dashboard_content %}
    <table class="w-full table-fixed border border-blue-200">
        <thead>
            <tr class="bg-white">
                <th class="p-4 text-left">Fullname</th>
                <th class="text-left">Position</th>
                <th class="text-left">Start Date</th>
                <th class="text-left">Action</th>
            </tr>
        </thead>
        <tbody>
         {% for e in employees %}
                <tr class="bg-blue-50/30 odd:bg-blue-50">
                    <td class="p-4">{{ e.full_name }}</td>
                    <td>{{ e.job_title }}</td>
                    <td>{{ e.start_date }}</td>
                    <td><button class="bg-blue-600 text-white py-2 px-4 text-sm rounded-lg w-fit">View Details</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}