{% extends 'dashboard_base.html' %}

{% block page_name %}
    My Payrolls
{% endblock %}

{% block dashboard_content %}
    <main class="max-w-3xl m-auto space-y-4">
        {% for p in payrolls %}
            <div class="bg-white p-6 rounded-lg border border-neutral-200 flex justify-between items-center">
            <div class="space-y-2">
                <h3>Payroll - {{ p.month }}</h3>
                {% load humanize %}
                <p class="text-sm">IDR {{ employee.salary|floatformat:0|intcomma }}</p>
            </div>
                {% if p.status == 'paid' %}
                    <div class="bg-emerald-100 text-emerald-700 p-2 w-fit rounded-lg font-bold text-xs">PAID</div>
                {% elif p.status == 'processing' %}
                    <div class="bg-yellow-100 text-yellow-700 p-2 w-fit rounded-lg font-bold text-xs">PROCESSING</div>
                {% else %}
                    <div class="bg-rose-100 text-rose-700 p-2 w-fit rounded-lg font-bold text-xs">PENDING</div>
                {% endif %}

            </div>
        {% endfor %}
    </main>
{% endblock %}