{% extends 'dashboard_base.html' %}

{% block page_name %}
    Process Payroll
{% endblock %}

{% block dashboard_content %}
    <main class="max-w-xl m-auto space-y-4">
    <h3>Process Payroll</h3>
        <p class="text-balance">This form is to process payroll to all of Employees and Should be processed at 25th on each Month.</p>
        <form method="post">
            {% csrf_token %}
            <input name="action" value="process" hidden />
            <button>Process</button>
        </form>
    </main>
{% endblock %}